<div class="container">
  <div class="routes" style="width:300px;height:50px;">
    <app-crumb></app-crumb>
  </div>
  <nz-card>
    <div class="gutter-example">
      <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan="4">
          <span>手机号码：</span>
          <div class="gutter-box">
            <input nz-input placeholder="请输入电话号码" [(ngModel)]="findPhone">
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="5">
          <span>申请日期范围：</span>
          <div class="gutter-box">
            <nz-date-picker [nzDisabledDate]="disabledStartDate" nzShowTime nzFormat="yyyy-MM-dd " [(ngModel)]="startValue"
              nzPlaceHolder="开始日期" (ngModelChange)="onStartChange($event)" (nzOnOpenChange)="handleStartOpenChange($event)">
            </nz-date-picker>
            <span>~~</span>
            <nz-date-picker [nzDisabledDate]="disabledEndDate" nzShowTime nzFormat="yyyy-MM-dd " [(ngModel)]="endValue"
              nzPlaceHolder="结束日期" [nzOpen]="endOpen" (ngModelChange)="onEndChange($event)" (nzOnOpenChange)="handleEndOpenChange($event)">
            </nz-date-picker>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
          <span>审核状态：</span>
          <div class="gutter-box">
            <nz-select style="width: 250px;" nzShowSearch nzAllowClear nzPlaceHolder="所有" [(ngModel)]="findStatus">
              <nz-option nzLabel="所有" nzValue=""></nz-option>
              <nz-option nzLabel="待审核" nzValue="0"></nz-option>
              <nz-option nzLabel="已通过" nzValue="1"></nz-option>
              <nz-option nzLabel="不通过" nzValue="2"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
          <span>审核方式：</span>
          <div class="gutter-box">
            <nz-select style="width: 250px;" nzShowSearch nzAllowClear nzPlaceHolder="所有" [(ngModel)]="findMode">
              <nz-option nzLabel="所有" nzValue=""></nz-option>
              <nz-option nzLabel="自动审核" nzValue="自动审核"></nz-option>
              <nz-option nzLabel="人工审核" nzValue="人工审核"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
            <span>&nbsp;</span>
            <div class="gutter-box">
              <button nz-button nzType="primary" (click)="search()">查询</button>
              <button nz-button nzType="default" style="margin-left:8px;" (click)="reset()">重置</button>
            </div>
          </div>
      </div>
    </div>
  </nz-card>
  <nz-card style="margin-top:40px">
      <div class="head">
        <h4>申请列表</h4>
        <div class="headright">
          <button class="nz-button" nz-button nzType="primary" (click)="clickedPass(1)">通过选中</button>
          <button class="nz-button" nz-button nzType="primary" (click)="clickedReject(2)">拒绝选中</button>
        </div>
      </div>
      <nz-table #rowSelectionTable [nzData]="data" nzShowPagination=false>
        <thead>
          <tr>
            <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
            <th>手机号码</th>
            <th>审核状态</th>
            <th>审核方式</th>
            <th>申请日期</th>
            <th>审核时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td nzShowCheckbox [(nzChecked)]="data.check" (nzCheckedChange)="checked($event,data)"></td>
            <td>{{data.phone}}</td>
            <td>{{data.statusText}}</td>
            <td>{{data.mode}}</td>
            <td>{{data.applyTime}}</td>
            <td>{{data.checkTime}}</td>
            <td class="options">
              <tr>
                <th [routerLink]="['detail']" [queryParams]="{userid:data.appUserId}" style="cursor:pointer;">详情</th>
                <th [routerLink]="['examine']" [queryParams]="{userid:data.appUserId}" *ngIf="data.status==0" style="cursor:pointer;" >审核</th>
              </tr>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="pagination" *ngIf="total!=0">
        <nz-pagination [nzPageIndex]='pageNum' [nzTotal]="total" (nzPageIndexChange)="pageSearch($event)"
          nzShowQuickJumper></nz-pagination>
      </div>
    </nz-card>
    <nz-modal [(nzVisible)]="showPassModal" (nzOnCancel)="PassMoadleCancel()" (nzOnOk)="PassMoadleOk()">
      <p>你确定要将选中的申请全部通过吗？</p>
    </nz-modal>
    <nz-modal [(nzVisible)]="showRejectModal" (nzOnCancel)="RejectMoadleCancel()" (nzOnOk)="RejectMoadleOk()">
      <p>你确定要将选中的申请全部拒绝吗？</p>
    </nz-modal>
</div>