<app-header></app-header>
<nz-layout class="layout" style="width: 100%;height:100vh;position: fixed;top: 70px;">
    <nz-layout>
        <nz-sider [nzWidth]='255' class="left">
            <!-- 左导航 -->
            <ul nz-menu [nzMode]="'inline'" nzTheme='dark' class="menu">
                <ng-container *ngFor="let item of menu; let index=index;">
                    <li nz-menu-item nz-tooltip nzPlacement="right" *ngIf="item.type === 'link'"
                        [routerLink]="[item.url]" [routerLinkActive]="['active']">
                        <span title>
                            <span>{{item.name}}</span>
                        </span>
                    </li>
                    <li nz-submenu  [(nzOpen)]="index==nowIndex" (nzOpenChange)="openHandler(index)"  *ngIf="item.type === 'sub'">
                        <span title>
                            <span>{{item.name}}</span>
                        </span>
                        <ul>
                            <li nz-menu-item *ngFor='let asideItem of item.children' [routerLink]='asideItem.url'
                                [routerLinkActive]="['active']">
                                <span class='title'>
                                    {{asideItem.name}}
                                </span>
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </nz-sider>
        <nz-layout>
            <nz-content style="background-color:#ecf0f5;padding:0 30px 30px;">

                <router-outlet></router-outlet>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>