<div class="container">
  <div class="routes" style="width:300px;height:50px;">
    <app-crumb></app-crumb>
  </div>
  <nz-card>
    <div class="gutter-example">
      <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan="4">
          <span>客户账号：</span>
          <div class="gutter-box">
            <input nz-input placeholder="请输入电话号码" [(ngModel)]="findPhone">
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
          <span>公司名称：</span>
          <div class="gutter-box">
            <input nz-input placeholder="请输入公司名称" [(ngModel)]="findEtpName">
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
          <span>订单号：</span>
          <div class="gutter-box">
            <input nz-input placeholder="请输入订单号" [(ngModel)]="findNo">
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
          <span>订单状态：</span>
          <div class="gutter-box">
            <nz-select style="width: 250px;" nzShowSearch nzAllowClear nzPlaceHolder="全部" [(ngModel)]="findStatus">
              <nz-option nzLabel="全部" nzValue=""></nz-option>
              <nz-option nzLabel="处理中" nzValue="0"></nz-option>
              <nz-option nzLabel="已终止" nzValue="1"></nz-option>
              <nz-option nzLabel="处理完成" nzValue="2"></nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="5">
          <span>提交时间</span>
          <div class="gutter-box">
            <nz-date-picker [nzDisabledDate]="disabledStartDate" nzShowTime nzFormat="yyyy-MM-dd " [(ngModel)]="startValue"
              nzPlaceHolder="请输入订单提交开始时间" (ngModelChange)="onStartChange($event)" (nzOnOpenChange)="handleStartOpenChange($event)">
            </nz-date-picker>
            <span>~~</span>
            <nz-date-picker [nzDisabledDate]="disabledEndDate" nzShowTime nzFormat="yyyy-MM-dd " [(ngModel)]="endValue"
              nzPlaceHolder="请输入订单提交结束时间" [nzOpen]="endOpen" (ngModelChange)="onEndChange($event)" (nzOnOpenChange)="handleEndOpenChange($event)">
            </nz-date-picker>
          </div>
        </div>

        <div nz-col class="gutter-row" nzSpan="4">
          <span>贷款期限：</span>
          <div class="gutter-box">
            <input nz-input placeholder="请输入最小贷款期限" [(ngModel)]="findMinTerm">
            <span>~~</span>
            <input nz-input placeholder="请输入最大贷款期限" [(ngModel)]="findMaxTerm">
          </div>
        </div>
        <div nz-col class="gutter-row" nzSpan="4">
          <span>&nbsp;</span>
          <div class="gutter-box">
            <button nz-button nzType="primary" (click)="search()">查询</button>
            <button nz-button nzType="default" style="margin-left:8px;" (click)="reset()">重置</button>
          </div>
        </div>
      </div>
    </div>
  </nz-card>

  <nz-card style="margin-top:40px">
    <div class="head">
      <h4>查询结果</h4>
    </div>
    <nz-table #rowSelectionTable [nzData]="data" nzShowPagination=false>
      <thead>
        <tr>
          <th>订单号</th>
          <th>公司名称</th>
          <th>客户账号</th>
          <th>申请产品</th>
          <th>申请金额（万元）</th>
          <th>货款期限（月）</th>
          <th>订单提交时间</th>
          <th>订单状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td>{{data.no}}</td>
          <td>{{data.etpName}}</td>
          <td>{{data.regMobile}}</td>
          <td>{{data.productName}}</td>
          <td>{{data.amount}}</td>
          <td>{{data.term}}</td>
          <td>{{data.createDate}}</td>
          <td>
            <span *ngIf="data.status=='0'">处理中</span>
            <span *ngIf="data.status=='1'">已终止</span>
            <span *ngIf="data.status=='2'">处理完成</span>
          </td>
          <td class="options">
        <tr>
          <th [routerLink]="['/app/business/orderinfo']" [queryParams]="{id:data.id}" style="cursor:pointer;">订单详情</th>
        </tr>
        </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="pagination" *ngIf="total!=0">
      <nz-pagination [nzPageIndex]='pageNum' [nzTotal]="total" (nzPageIndexChange)="pageSearch($event)"
        nzShowQuickJumper></nz-pagination>
    </div>
  </nz-card>
</div>